streamlit
pystac-client
odc-stac
numpy
geopy
folium
branca
matplotlib
spacy
en-core-web-sm @ https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl
dateparser
jinja2
